@model CreateAboutDto
@{
    ViewData["Title"] = "CreateAbout";
    Layout = "~/Views/AdminLoyaut/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">


        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Haqqımızda əlavə et</h4>
                        <p class="card-subtitle mb-4">Yeni Haqqımızda buradan əlavə olunur</p>

                        <form method="post">

                            <div class="form-group">
                                <label for="exampleInputModel">Başlıq</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="title" placeholder="Başlıqı yazın">
                            </div>
                            <label for="exampleInputModel">Təsvir</label>
                            <textarea rows="5" type="text" class="form-control" id="exampleInputModel" asp-for="description" placeholder="Təsviri yazın">
                                    </textarea>

                            <div class="form-group">
                                <label for="exampleInputModel">Şəkil</label>
                                <input type="text" class="form-control" id="exampleInputModel" asp-for="imageUrl" placeholder="Şəkilin urlsini  yazın">
                            </div>




                            <button type="submit" class="btn btn-primary waves-effect waves-light">Təsdiqlə</button>
                        </form>

                    </div> <!-- end card-body-->
                </div>

            </div>
            <!-- end card-body-->
        </div>
        <!-- end card -->

    </div>
    <!-- end col -->
    <!-- end col -->
</div>
<!-- end page title -->
